{% extends 'header.html' %}
{% block title %}Home Page{%endblock%}
{% load static %}
{% block content %}

  <div class="postContainer">
    {% for post in posts %}
    <div class="content">
      <a href="/post/{{post.url}}">
        <img
        id="thumbnailStyle"
        src="/media/{{post.thumbnail}}"/>
      </a>
      <div class="text">
        <a href="/post/{{post.url}}">
        <h2 id="customStyle">{{post.title}}</h2>
        </a>
        <h5 id="dateStyle">Published {{post.date_posted|date:"M d, Y"}} by {{post.author}}</h5>
        <a href="/category/{{post.category}}">
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
